/*----------- GENEREL -----------*/

.wrapper.md{
  max-width:1024px;
  margin:auto;

}

.wrapper.inner{
  width:700px;
  height:1000px;
  background-color:white;
  position:absolute;
  top:380px;
  margin: auto;

}
/*----------- INDEX -----------*/

/*----------- ANMELDELSER -----------*/

/*----------- GAMECHANGER -----------*/

/*----------- KONTAKT -----------*/
